@mixin dot($right: auto, $left: auto) {
  content: '.';
  font-size: rem(30);
  color: #aaa;
  position: absolute;
  inset: -19px $right auto $left;
}

@mixin dotBothSide($val) {
  position: relative;
  &::before {
    @include dot($left: $val);
  }
  &::after {
    @include dot($right: $val);
  }
}

.card {
  max-width: 1110px;
  width: 100%;
  margin: 32px auto 0;
  background-color: #fff;
  padding: 0 18px 24px;
  display: grid;
  gap: 8px;
  border-left: rgba(0, 0, 0, 0) 5.5px solid;
  border-radius: 5px;
  box-shadow: $shadow;

  h2 {
    color: $very-dark-grayish-cyan;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.035em;
    cursor: pointer;
    transition: color 0.15s ease;

    &:hover {
      color: $primary;
    }
  }
}

.image {
  position: relative;
  width: 48px;
  height: 48px;
  margin-top: -24px;
}

.first {
  display: flex;
  align-items: center;
  margin-bottom: 3px;

  :not(:nth-child(1)) {
    color: #fff;
    border-radius: 20px;
    padding: 8px;
    font-size: rem(11);
    height: 24px;
  }

  :nth-of-type(1) {
    color: $primary;
    font-weight: 700;
    font-size: rem(13);
    margin-right: 6px;
    letter-spacing: -0.05em;
  }

  :nth-of-type(2) {
    background-color: $primary;
    margin-left: 11px;
  }

  :nth-of-type(3) {
    margin-left: 8px;
    background-color: $very-dark-grayish-cyan;
  }
}

.info {
  display: flex;
  gap: 19px;
  border-bottom: 1px solid #c0c2c1;
  color: $dark-grayish-cyan;
  padding-bottom: 18px;
  font-size: rem(14);
  margin-top: 7px;
  letter-spacing: -0.035em;

  :nth-of-type(2) {
    @include dotBothSide(-15px);
  }
}

.border {
  border-left: $primary 5.5px solid;
}

@media (min-width: 800px) {
  .card {
    column-gap: 25px;
    row-gap: 7px;
    grid-template-columns: repeat(20, 1fr);
    align-items: center;
    justify-content: space-between;
    padding: 18px 34px;
    margin-top: 32px;

    h2,
    .first,
    .info {
      grid-column: 3 / span 7;
      transform: translate(0, 4px);
    }

    h2 {
      transform: translateY(6px);
    }

    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  .image {
    grid-row: 1 / span 3;
    grid-column: 1 / span 2;
    margin-top: revert;
    width: 88px;
    height: 88px;
  }

  .first {
    margin-top: 10px;

    :nth-of-type(1) {
      font-size: rem(15);
    }
  }

  .info {
    border: none;
    grid-column: 2;
    gap: 43px;

    :nth-of-type(2) {
      @include dotBothSide(-28px);
    }
  }
}
