.wrapper {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  padding-right: 75px;
  border-radius: 5px;
  max-width: 1110px;
  margin: -50px auto 32px;
  box-shadow: $shadow;
  width: 100%;
}

.button_wrapper {
  color: $primary;
  display: flex;
  background-color: $light-grayish-cyan-filter;
  color: $primary;
  height: 32px;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: -0.035em;
  transition: background-color 0.15s ease;
  cursor: pointer;

  div {
    padding: 10px;
    align-self: center;
    padding-top: 14px;
  }

  button {
    all: unset;
    background-color: $primary;
    color: $primary;
    padding: 2px 10px 0;
    border-radius: 0 5px 5px 0;
    font-weight: 700;
    letter-spacing: -0.035em;
    cursor: pointer;
    transition: background-color 0.15s ease;

    &:hover {
      background-color: $very-dark-grayish-cyan;
    }
  }
}

.clear_button {
  all: unset;
  transition: 0.15s ease;
  position: absolute;
  inset: 0 20px 0 auto;
  font-size: rem(15);

  &:hover {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
  }
}

@media (min-width: 800px) {
  .wrapper {
    position: absolute;
    gap: 16px;
    width: revert;
    left: 24px;
    right: 24px;
    margin-top: -75px;
  }

  .clear_button {
    right: 40px;
  }
}
