.header {
  background: $primary url('/images/bg-header-mobile.svg') no-repeat center
    center;
  height: 156px;
  text-align: center;
}

.main {
  padding: 24px;
}

@media (min-width: 800px) {
  .header {
    background: $primary url('/images/bg-header-desktop.svg') no-repeat center
      center;
  }
}
