.header {
  background: $primary url('/images/bg-header-mobile.svg') no-repeat center
    center/cover;
  height: 156px;
  text-align: center;
}

.main {
  display: grid;
  padding: 24px;
  gap: 15px;
  margin-bottom: 60px;
}

@media (min-width: 800px) {
  .header {
    background: $primary url('/images/bg-header-desktop.svg') no-repeat center
      center/cover;
    margin-bottom: 20px;
  }

  .main {
    gap: revert;
  }
}
